{% extends "mail/layout.html" %}


{% block body %}         

	<!--Reset Password-->
	<div class="container border p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email or username address below, and we'll and wait for further instructions for setting a new one.</p>
        <form class="p-3 rounded border needs-validation" action="{% url 'password_reset' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="username_email">Username or Email Address</label>
                <input class="form-control" type="text" name="username_email" pattern="[a-zA-Z][a-zA-Z0-9-_.@]{1,20}" required maxlength="20" minlength="5" placeholder="User Name or Email">
            </div>
            <div class="form-group">
                <br>
            <button class="btn btn-primary" type="submit">submit</button>
            </div>
        </form>
  	</div> 

{% endblock %}